<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guest Approval Notice</title>
  </head>
  <body>
    <div>
      <h2>Hello <%-frontdesk.firstname%></h2>
      <p><%-visitor%> has been rejected by <%-staff.fullname%>.</p>
      <p>
        <a href="<%-url%>">Click here to view the guest's profile</a>
      </p>
    </div>
  </body>
</html>
